## Exploratory data analisys and Data Preparation
### Missing Values

1. Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

2. Dataset importing (local and drive modes)

In [5]:
# Local importing
energy_dataframe = pd.read_excel('Energy _data (1).xlsx') # Comment if you want to load the file from repo
# Web importing
# energy_dataframe = pd.read_excel('https://github.com/GianRojas/CrystalTEC-EnergyData/raw/main/Energy%20_data%20(1).xlsx')
energy_dataframe

,Hour,energy_consumpt_2001,energy_consumpt_2002,full_temp_2001,full_humid_2001,full_temp_2002,full_humid_2002
0,1,631.623161,835.021567,-0.400000,64.000000,7.600000,82.000000
1,2,534.397104,711.875374,-0.733333,65.333333,7.733333,78.666667
2,3,453.538784,592.673215,-1.066667,66.666667,7.866667,75.333333
3,4,400.699718,526.997961,-1.400000,68.000000,8.000000,72.000000
4,5,378.171092,497.588642,-1.666667,60.333333,8.333333,69.666667
...,...,...,...,...,...,...,...
8779,8780,950.369306,0.000000,3.333333,64.000000,NaN,NaN
8780,8781,880.138770,0.000000,2.666667,68.000000,NaN,NaN
8781,8782,792.754026,0.000000,2.000000,72.000000,NaN,NaN
8782,8783,740.446668,0.000000,1.333333,76.000000,NaN,NaN
8783,8784,706.176769,0.000000,0.666667,80.000000,NaN,NaN

3. Split dataframe by year

In [11]:
# 2001 dataframe
df_2001 = energy_dataframe[['Hour','energy_consumpt_2001','full_temp_2001','full_humid_2001']]
df_2001 = df_2001.rename({'energy_consumpt_2001':'energy_consumpt', 'full_temp_2001':'full_temp', 'full_humid_2001':'full_humid'}, axis=1)
df_2001.insert(loc=0, column="year", value='2001')

# 2002 dataframe
df_2002 = energy_dataframe[['Hour','energy_consumpt_2002','full_temp_2002','full_humid_2002']]
df_2002 = df_2002.rename({'energy_consumpt_2002':'energy_consumpt', 'full_temp_2002':'full_temp', 'full_humid_2002':'full_humid'}, axis=1)
df_2002.insert(loc=0, column="year", value='2002')
df_2002

      year  Hour  energy_consumpt  full_temp  full_humid
0     2002     1       835.021567   7.600000   82.000000
1     2002     2       711.875374   7.733333   78.666667
2     2002     3       592.673215   7.866667   75.333333
3     2002     4       526.997961   8.000000   72.000000
4     2002     5       497.588642   8.333333   69.666667
...    ...   ...              ...        ...         ...
8779  2002  8780         0.000000        NaN         NaN
8780  2002  8781         0.000000        NaN         NaN
8781  2002  8782         0.000000        NaN         NaN
8782  2002  8783         0.000000        NaN         NaN
8783  2002  8784         0.000000        NaN         NaN

[8784 rows x 5 columns]

4. Compare count of measures

In [19]:
print(f"df_2001 rows: {df_2001.Hour.count()}\ndf_2002 rows: {df_2002.Hour.count()}")

df_2001 rows: 8784
df_2002 rows: 8784

theres is more measures than hours in a normal year (8760)  
Take a look on last 24 values

In [28]:
df_2001.compare(df_2002, align_axis=0).tail(24)

            year  energy_consumpt  full_temp  full_humid
8772 self   2001       843.230570   8.800000   35.000000
     other  2002         0.000000        NaN         NaN
8773 self   2001       862.376112   9.866667   33.666667
     other  2002         0.000000        NaN         NaN
8774 self   2001       885.214790  10.933333   32.333333
     other  2002         0.000000        NaN         NaN
8775 self   2001       904.754785  12.000000   31.000000
     other  2002         0.000000        NaN         NaN
8776 self   2001       960.265378   9.333333   40.666667
     other  2002         0.000000        NaN         NaN
8777 self   2001      1008.915444   6.666667   50.333333
     other  2002         0.000000        NaN         NaN
8778 self   2001       994.170651   4.000000   60.000000
     other  2002         0.000000        NaN         NaN
8779 self   2001       950.369306   3.333333   64.000000
     other  2002         0.000000        NaN         NaN
8780 self   2001       880.138770   2.666667   68.000000
     other  2002         0.000000        NaN         NaN
8781 self   2001       792.754026   2.000000   72.000000
     other  2002         0.000000        NaN         NaN
8782 self   2001       740.446668   1.333333   76.000000
     other  2002         0.000000        NaN         NaN
8783 self   2001       706.176769   0.666667   80.000000
     other  2002         0.000000        NaN         NaN

4. Clean data2002 dataframe

last 24 items of 2002 data are blank measures for humid and temp. zeros in **energy_consumpt**

In [ ]:
data2002.tail(24)

      Hour  energy_consumpt  full_temp  full_humid
8760  8761              0.0        NaN         NaN
8761  8762              0.0        NaN         NaN
8762  8763              0.0        NaN         NaN
8763  8764              0.0        NaN         NaN
8764  8765              0.0        NaN         NaN
8765  8766              0.0        NaN         NaN
8766  8767              0.0        NaN         NaN
8767  8768              0.0        NaN         NaN
8768  8769              0.0        NaN         NaN
8769  8770              0.0        NaN         NaN
8770  8771              0.0        NaN         NaN
8771  8772              0.0        NaN         NaN
8772  8773              0.0        NaN         NaN
8773  8774              0.0        NaN         NaN
8774  8775              0.0        NaN         NaN
8775  8776              0.0        NaN         NaN
8776  8777              0.0        NaN         NaN
8777  8778              0.0        NaN         NaN
8778  8779              0.0        NaN         NaN
8779  8780              0.0        NaN         NaN
8780  8781              0.0        NaN         NaN
8781  8782              0.0        NaN         NaN
8782  8783              0.0        NaN         NaN
8783  8784              0.0        NaN         NaN