## Exploratory data analisys and Data Preparation
### Missing Values

1. Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

2. Dataset importing (local and drive modes)

In [5]:
# Local importing
energy_dataframe = pd.read_excel('Energy _data (1).xlsx') # Comment if you want to load the file from repo
# Web importing
# energy_dataframe = pd.read_excel('https://github.com/GianRojas/CrystalTEC-EnergyData/raw/main/Energy%20_data%20(1).xlsx')
energy_dataframe

,Hour,energy_consumpt_2001,energy_consumpt_2002,full_temp_2001,full_humid_2001,full_temp_2002,full_humid_2002
0,1,631.623161,835.021567,-0.400000,64.000000,7.600000,82.000000
1,2,534.397104,711.875374,-0.733333,65.333333,7.733333,78.666667
2,3,453.538784,592.673215,-1.066667,66.666667,7.866667,75.333333
3,4,400.699718,526.997961,-1.400000,68.000000,8.000000,72.000000
4,5,378.171092,497.588642,-1.666667,60.333333,8.333333,69.666667
...,...,...,...,...,...,...,...
8779,8780,950.369306,0.000000,3.333333,64.000000,NaN,NaN
8780,8781,880.138770,0.000000,2.666667,68.000000,NaN,NaN
8781,8782,792.754026,0.000000,2.000000,72.000000,NaN,NaN
8782,8783,740.446668,0.000000,1.333333,76.000000,NaN,NaN
8783,8784,706.176769,0.000000,0.666667,80.000000,NaN,NaN

3. Split dataframe by year

In [11]:
# 2001 dataframe
df_2001 = energy_dataframe[['Hour','energy_consumpt_2001','full_temp_2001','full_humid_2001']]
df_2001 = df_2001.rename({'energy_consumpt_2001':'energy_consumpt', 'full_temp_2001':'full_temp', 'full_humid_2001':'full_humid'}, axis=1)
df_2001.insert(loc=0, column="year", value='2001')

# 2002 dataframe
df_2002 = energy_dataframe[['Hour','energy_consumpt_2002','full_temp_2002','full_humid_2002']]
df_2002 = df_2002.rename({'energy_consumpt_2002':'energy_consumpt', 'full_temp_2002':'full_temp', 'full_humid_2002':'full_humid'}, axis=1)
df_2002.insert(loc=0, column="year", value='2002')
df_2002

      year  Hour  energy_consumpt  full_temp  full_humid
0     2002     1       835.021567   7.600000   82.000000
1     2002     2       711.875374   7.733333   78.666667
2     2002     3       592.673215   7.866667   75.333333
3     2002     4       526.997961   8.000000   72.000000
4     2002     5       497.588642   8.333333   69.666667
...    ...   ...              ...        ...         ...
8779  2002  8780         0.000000        NaN         NaN
8780  2002  8781         0.000000        NaN         NaN
8781  2002  8782         0.000000        NaN         NaN
8782  2002  8783         0.000000        NaN         NaN
8783  2002  8784         0.000000        NaN         NaN

[8784 rows x 5 columns]